{
  "title": "{{ project_name }}",
  "description": "{{ description if description else project_name_title + ': A scientific computing project.' }}",
  "creators": [
    {
      "name": "{{ author_name }}",
      "affiliation": ""
    }
  ],
  "keywords": [
    "scientific computing",
    "python",
    "reproducibility"
  ],
  "license": "{{ license_type | lower }}",
  "upload_type": "software",
  "access_right": "open"
}
